.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin: 10px 0;
}
.todoText {
  cursor: pointer;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}

input:focus {
  border: 2px solid blueviolet;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 20px;
}

.btn {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 5px;
}

.addTodo {
  background-color: #6d28d9;
  color: #fff;
}

.updateTodo {
  background-color: #a27be6;
  color: #fff;
  border: 1px solid #a27be6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  margin: 30px;
}

header span {
  margin: 20px 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.NB-header{
    margin:20px;
}

.Nav-select{
    outline: none;
    width:125px;
    border: 1px solid #6d28d9;
    border-radius: 10px;
    padding: 5px 10px;
    color: #530bc7;
    font-weight: bold;
}
